name: CI

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main

  pull_request:

  merge_group:

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Build
        run: bun run build

      - name: Check package
        run: bun x publint

      - name: Publish to pkg.pr.new
        run: bun pkg-pr-new publish --packageManager=bun .

  check-types:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Check Types
        run: bun check-types

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Lint
        run: bun lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Test
        run: bun run test
